.requisition-error {
  background: $brand-danger !important;
}

#batch-approval-form {
    max-width: none;
}

.batch-requisition-pane {
    @extend .page;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px;

    .breadcrumb {
        margin: 0px;
        padding: $space-size/2 $space-size;
        border-bottom-width: 0px;
    }

    h2 {
        margin-bottom: $space-size/2;
        @include margin-right($space-size);
        border-bottom: 1px $border-color solid;
    }

    #batch-approval-form {
        display: flex;

        margin:0px 20px;

        > .openlmis-table-pane {
            flex-grow: 1;
        }
    }

    .openlmis-toolbar {
        margin: 0px;
        padding: $space-size/2 $space-size;
    }
}
