.product-grid {
	overflow: auto;
	position: relative;

	.skip {
		margin: 0 auto;
		display: table;
	}

	.skipped-line-item {
		background: $light-gray;
	}

	button {
		@extend .btn;
	}

	button.add-product {
		@include button($green);
		@include float(right);
	}

	button.hide-line-item {
		@include button($red);
	}

	.openlmis-pagination {
		flex: 0 1 auto;
		width: inherit;
	}
}

.requisition-product-grid-cell {
	white-space: nowrap;

	&.has-popover {
		@include padding-right(2em);
	}
}
