<h2>{{'adminRejectionReasonCategory.editRejectionReasonCategory' | message}}</h2>
<nav class="facility-edit">
            <form id="rejection-reason-edit=form" name="RejectionReasonCategoryEdit" ng-submit="vm.saveRejectionReasonCategoryDetails()">
                <label for="rejectionReasonCategoryName">{{'adminRejectionReasonCategory.name' | message}}</label>
                <input id="rejectionReasonCategoryName" type="text" ng-model="vm.rejectionReasonCategory.name" ng-disabled="vm.managedExternally" required />
                <label for="rejectionReasonCategoryCode">{{'adminRejectionReasonCategory.code' | message}}</label>
                <input id="rejectionReasonCategoryCode" type="text" ng-model="vm.rejectionReasonCategory.code"  />
                <label for="rejectionReasonCategoryActive" class="checkbox">
                    <input id="rejectionReasonCategoryActive" type="checkbox" ng-model="vm.rejectionReasonCategory.active" ng-disabled="vm.managedExternally" />
                    {{'adminRejectionReasonCategory.active' | message}}
                </label>
                <div class="button-group">
                    <button class="primary" type="submit">{{'adminRejectionReasonCategory.save' | message}}</button>
                    <button ui-sref="openlmis.administration.rejectionReasonCategories" ui-sref-opts="{reload: true}">{{'adminRejectionReason.cancel' | message}}</button>
                </div>
            </form>
</nav>