<h2>{{'adminRejectionReason.rejectionReason' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-rejection-reason" class="add" ng-click="vm.goToAddRejectionReasonPage()">
        {{'adminRejectionReason.add' | message}}
    </button>
    <table>
        <caption ng-if="!vm.rejectionReasons || vm.rejectionReasons.length === 0">
            {{'adminRejectionReason.noRejectionReason' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'adminRejectionReason.name' | message}}</th>
            <th>{{'adminRejectionReason.code' | message}}</th>
            <th>{{'adminRejectionReason.category' | message}}</th>
            <th>{{'adminRejectionReason.active' | message}}</th>
            <th>{{'adminRejectionReason.action' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rejectionReason in vm.rejectionReasons">
            <td>{{rejectionReason.name}}</td>
            <td>{{rejectionReason.code}}</td>
            <td>{{rejectionReason.rejectionReasonCategory.name}}</td>
            <td>
                <i ng-class="{'icon-ok': rejectionReason.active}"></i>
            </td>
            <td>
                <button ui-sref="openlmis.administration.rejectionReasons.view({id: rejectionReason.id})">{{'adminRejectionReason.edit' | message}}</button>
            </td>
        </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>