<h2>{{'adminRejectionReasonCategory.rejectionReasonCategory' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-rejection-reason-category" class="add" ng-click="vm.goToAddRejectionReasonCategoryPage()">
        {{'adminRejectionReasonCategory.add' | message}}
    </button>
    <table>
        <caption ng-if="!vm.rejectionReasonCategories || vm.rejectionReasonCategories.length === 0">
            {{'adminRejectionReasonCategory.noRejectionReasonCategory' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'adminRejectionReasonCategory.name' | message}}</th>
            <th>{{'adminRejectionReasonCategory.code' | message}}</th>
            <th>{{'adminRejectionReasonCategory.active' | message}}</th>
            <th>{{'adminRejectionReasonCategory.action' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rejectionReasonCategory in vm.rejectionReasonCategories">
            <td>{{rejectionReasonCategory.name}}</td>
            <td>{{rejectionReasonCategory.code}}</td>
            <td>
                <i ng-class="{'icon-ok': rejectionReasonCategory.active}"></i>
            </td>
            <td>
                <button ui-sref="openlmis.administration.rejectionReasonCategories.view({id: rejectionReasonCategory.id})">{{'adminRejectionReasonCategory.edit' | message}}</button>
            </td>
        </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>