.order-create-page {
  .order-create-form {
    select {
      min-width: 300px;
      margin-bottom: 1.5em;
      margin-top: 0.5em;
    }
  }

  .page-footer {
    button {
      margin-right: 1em;
    }

    justify-content: flex-end;
  }
}
