.order-create-page {
  $accent-color: #49baeb;
  $light-grey: #bebebe;

  .order-create-form {
    select {
      min-width: 300px;
      margin-bottom: 1.5em;
      margin-top: 0.5em;
    }
  }

  .toolbar {
    display: flex;
    margin-bottom: 1em;

    * {
      margin-right: 1em;
    }
  }

  .page-footer {
    button {
      margin-right: 1em;
    }

    justify-content: flex-end;
  }

  .select-search {
    background: #fff;
    display: inline-block;

    .search {

      .input {
        box-shadow: inset 0 0 0.5em $light-grey;
        border: 1px solid $light-grey;
        background-color: inherit;
        border-radius: 4px;
        padding: 0.5em;

        &:focus {
          outline: none;
          border-color: $accent-color;
          box-shadow: inset 0 0 0.5em $accent-color;
        }
      }
    }

    &.is-disabled {
      .input {
        box-shadow: 0 0 0 $light-grey;
        cursor: not-allowed;
      }
    }

    .select {
      position: absolute;
      z-index:100;
      border: $light-grey 1px solid;
      box-shadow: 0 0.25em 1em #e4e4e4;
      background-color: #fff;

      .options {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          cursor: pointer;
          margin-left: 0;
          margin-right: 0;
          padding: 0;

          &:hover {
            background-color: $accent-color;
            color: #fff;
          }

          &.not-found {
            padding: 0.5em;
          }

          .option {
            background: none;
            border: none;
            color: inherit;
            cursor: pointer;
            font: inherit;
            outline: inherit;
            padding: 0.5em;
            text-align: left;
            width: 100%;

            &.is-selected {
                background-color: $accent-color;
                color: #fff;
            }
          }
        }
      }
    }
  }
}
