<h2>{{'adminRejectionReason.edit' }}</h2>
<nav class="facility-edit">
    <ul bs-active-pane="vm.selectedTab" bs-tabs>
        <li bs-pane data-title="{{'adminRejectionReason.information' | message}}">
            <form id="rejection-reason-edit=form" name="RejectionReasonEdit" ng-submit="vm.saveRejectionReasonDetails()">
                <label for="rejectionReasonName">{{'adminRejectionReason.rejectionReasonName' | message}}</label>
                <input id="rejectionReasonName" type="text" ng-model="vm.rejectionReason.name" ng-disabled="vm.managedExternally" required />
                <label for="rejectionReasonCode">{{'adminRejectionReason.rejectionReasonCode' | message}}</label>
                <input id="rejectionReasonCode" type="text" ng-model="vm.rejectionReason.code" ng-disabled="vm.managedExternally" required />
                <label for="category">{{'adminRejectionReason.rejectionReasonCategory' | message}}</label>
                <select id="category" ng-model="vm.rejectionReason.rejectionReasonCategory" ng-options="category as category.name for category in vm.rejectionReasonCategories track by category.id" required></select>

                <label for="rejectionReasonActive" class="checkbox">
                    <input id="rejectionReasonActive" type="checkbox" ng-model="vm.rejectionReason.active" ng-disabled="vm.managedExternally" />
                    {{'adminRejectionReason.activeRejectionReason' | message}}
                </label>
                <div class="button-group">
                    <button class="primary" type="submit">{{'adminRejectionReason.save' | message}}</button>
                    <button ui-sref="openlmis.administration.rejectionReasons" ui-sref-opts="{reload: true}">{{'adminRejectionReason.cancel' | message}}</button>
                </div>
            </form>
        </li>
    </ul>
</nav>