<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{'adminRejectionReason.add' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="add-rejection-reason-form" ng-submit="vm.save()">
                    <label for="rejectionReasonName">{{'adminRejectionReason.name' | message}}</label>
                    <input id="rejectionReasonName" type="text" ng-model="vm.rejectionReason.name" ng-disabled="vm.managedExternally" required />
                    <label for="rejectionReasonCode">{{'adminRejectionReason.code' | message}}</label>
                    <input id="rejectionReasonCode" type="text" ng-model="vm.rejectionReason.code" ng-disabled="vm.managedExternally"required />
                    <label for="category">{{'adminRejectionReason.category' | message}}</label>
                    <select id="category" ng-model="vm.rejectionReason.rejectionReasonCategory" ng-options="category as category.name for category in vm.rejectionReasonCategories track by category.id" required></select>
                    <label for="rejectionReasonActive" class="checkbox">
                        <input id="rejectionReasonActive" type="checkbox" ng-model="vm.rejectionReason.active" ng-disabled="vm.managedExternally" />
                        {{'adminRejectionReason.active' | message}}
                    </label>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'adminRejectionReason.cancel' | message}}</button>
                <button class="primary" form="add-rejection-reason-form">{{'adminRejectionReason.save' | message}}</button>
            </div>
        </div>
    </div>
</div>